<h2 class="page-header">Create Account</h2>
<form [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm.value)">
  <div class="container">
    <div class="row">

      <div class="container col-lg-12 padding-bottom">
        <div class="form-group">
          <div class="col-md-6"  formGroupName="bank">
            <label for="">Bank:</label>
            <input type="text" formControlName="bankName" class="form-control" ngControl='bank'>
          </div>
          <div class="col-md-6">
            <label for="">AccountNumber:</label>
            <input type="text" formControlName="accountNumber" class="form-control" ngControl='accountNumber'>
          </div>
        </div>
        <div class="container col-lg-12 grey-bg ">
          <div class="form-group">
            <div class="col-md-6">
              <label for="">AccountBalance:</label>
              <input type="text" formControlName="accountBalance" class="form-control" ngControl='accountBalance'>
            </div>
            <div class="col-md-6">
              <label for="">AvailableBalance:</label>
              <input type="text" formControlName="availableBalance" class="form-control" ngControl='availableBalance'>
            </div>
          </div>
        </div>
        <button md-raised-button color="accent" type="submit" [disabled]="!accountForm.valid" class="btn btn-block" value="Submit">Submit</button>
      </div>
    </div>
  </div>
</form>

<div class="grid grid-pad container-fluid col-lg-10">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus voluptate quasi tenetur! Praesentium doloremque odit expedita
  itaque consequuntur ad, laborum in eaque neque nulla voluptates odio, libero dolore inventore. Tempora!
  <div class="col-sm-3  account" *ngFor="let account of accounts" (click)="onSelect(account)" [class.selected]="account === selectedAccount">
    <h5>Bank: {{account.bank.bankName}}</h5>
    <h5>Account: {{account.accountNumber}}</h5>
    <h5>Balance: {{account.accountBalance}}</h5>
  </div>
</div>
