<h2 class="page-header">Create Client</h2>
<form name="form" [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)" novalidate>
  <div class="container">
    <div class="row">

      <!--Name  -->
      <div class="container col-lg-12 padding-bottom">
        <div class="col-md-12 form-group">
          <div class="col-md-4">
          <md-input-container class="input">
            <input mdInput type="text" placeholder="First Name" 
            formControlName="firstName" [(ngModel)]="firstName" ngControl='firstName'>
            <md-error *ngIf="clientForm.controls.firstName.required">
              Required
            </md-error>
          </md-input-container>
          </div>
          <div class="col-md-4">
          <md-input-container class="input">
            <input mdInput type="text" placeholder="Last Name" formControlName="lastName" [(ngModel)]="lastName" ngControl='lastName'>
            <md-error *ngIf="clientForm.controls.lastName.required">
              Required
            </md-error>
          </md-input-container>
          </div>
          <div class="col-md-4">
          <div class="" formGroupName="role">
            <md-select style="margin-top: 25px; padding-left: 10px"name="" id="" formControlName="name" placeholder="Role">
              <md-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</md-option>
            </md-select>
          </div>
          </div>
        </div>
      </div>
      <!--Address  -->
       <div class="container col-lg-12 padding-bottom">
        <div class="form-group" formGroupName="address">
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="Street" formControlName="street" [(ngModel)]="street" ngControl='street'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="City" formControlName="city" [(ngModel)]="city" ngControl='city'>
            </md-input-container>
          </div>
           <div class="col-md-4">
            <md-input-container class="input-address">
               <input mdInput type="text" placeholder="Country" formControlName="country" [(ngModel)]="country" ngControl='country'> 
            </md-input-container>
          </div> 
        </div>
      </div> 
      <!--Email,Jmbg,Pass  -->
      <div class="container col-lg-12">
       <div class="form-group">
           <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="E-mail" formControlName="email" [(ngModel)]="email" ngControl='email'>
            </md-input-container>
          </div> 
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="JMBG" formControlName="jmbg" [(ngModel)]="jmbg" ngControl='jmbg'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="password" ngControl='password'>
            </md-input-container>
          </div>
        </div>
      </div>
        <div class="container col-lg-12">
          <div class="col-md-12">
            <label for=""></label>
            <button md-raised-button color="accent" type="submit" [disabled]="!clientForm.valid" class="btn btn-block" value="Submit">Submit</button>
          </div>
        </div>
    </div>
  </div>
</form>
