<h1 class="page-header">Create User</h1>
<form class="" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <div class="form-group">
          <label for="">First Name:</label>
          <input type="text" formControlName="firstName" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">This is required</div>
        <div class="form-group">
          <label for="">Last Name:</label>
          <input type="text" formControlName="lastName" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">This is required</div>
        <div class="form-group">
          <label for="">Password:</label>
          <input type="text" formControlName="password" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password has to have more then 5 chars</div>


      </div>
      <div class="col-md-5">

        <div class="form-group">
          <label for="">First Name:</label>
          <input type="text" formControlName="firstName" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">This is required</div>
        <div class="form-group">
          <label for="">Last Name:</label>
          <input type="text" formControlName="lastName" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['lastName'].valid && rForm.controls['lastName'].touched">This is required</div>
        <div class="form-group">
          <label for="">Password:</label>
          <input type="text" formControlName="password" class="form-control" id="" placeholder="">
          <p class="help-block">Help text here.</p>
        </div>
        <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password has to have more then 5 chars</div>

        <input type="checkbox" name="" value="">


        <input type="submit" class="btn btn-primary btn-block " name="" value="Submit" [disabled]="!rForm.valid">
      </div>
    </div>
  </div>

</form>
