<h1 class="page-header">Transaction List</h1>
<form class="  form">
    <input type="text" class="form-control" placeholder="Search...">
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Sender</th>
        <th></th>
        <th>Amount</th>
        <th>Currency</th>
        <th></th>
        <th>Receiver</th>
      </tr>
    </thead>
<!-- export class Transaction{
   id: number;
   senderAccount: Account;
   senderDescription: string;
   receiverAccount: Account;
   currency: string;
   transactionDate: string;
   amountTransferred: number;
} -->

    <tbody *ngFor="let transaction of transactions" (click)="onSelect(transaction)">
      <tr>
        <td>{{transaction.id}}</td>
        <td>{{transaction.senderAccount.accountNumber}}</td>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <td>{{transaction.amountTransferred}}</td>
        <td>{{transaction.currency}}</td>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <td>
        {{transaction.receiverAccount.accountNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>
