<h2 class="page-header">Exchange Rates</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Symbol: </th>
        <th>Country Name: </th>
        <th>Worth For: </th>
        <th>Buying Rate: </th>
        <th>Selling Rate:</th>
      </tr>
    </thead>
    <tbody *ngFor="let currency of currencies">
      <tr>
        <td>{{currency.id}}</td>
        <td>{{currency.currencySymbol}}</td>
        <td>{{currency.countryName}}</td>
        <td>{{currency.worthFor}}</td>
        <td>{{currency.buyingRate}}</td>
        <td>{{currency.sellingRate}}</td>
      </tr>
    </tbody>
  </table>
</div>
