<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E bank</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">
        Welcome, {{this.currentClient.firstName}}
        </a></li>
        <li><a href="#" (click)="logout()" >Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li [routerLinkActive]="['active']" 
        [hidden]=""><a href="#" routerLink="accountDetail">Account balance</a></li>
        <li [routerLinkActive]="['active']"><a href="#" routerLink="transaction">Transaction</a></li>

        <hr
         *ngIf="currentClient.role.id === 1"
        >
        <li [routerLinkActive]="['active']"
         *ngIf="currentClient.role.id === 1"
        ><a href="#" routerLink="clients"
         *ngIf="currentClient.role.id === 1"
        >Client list</a></li>
        <li [routerLinkActive]="['active']"
         *ngIf="currentClient.role.id === 1"
        ><a href="#" routerLink="create">Create Client</a></li>
        <li [routerLinkActive]="['active']"
         *ngIf="currentClient.role.id === 1"
        ><a href="#" routerLink="bank">Bank</a></li>
        <hr>
        <li [routerLinkActive]="['active']"><a href="#" routerLink="exchangeRates">Exchange Rates</a></li>
        <!-- <li><a href="#">Export</a></li> -->
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>>
