<h2 class="page-header">
  Create Client
  <h3>{{client.firstName}} {{client.lastName}}</h3>
</h2>
<form name="form" [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)" novalidate>
  <div class="container">
    <div class="row">

      <!--Name  -->
      <div class="container col-lg-6 padding-bottom">
      <div class="container col-lg-12 padding-bottom">
        <div class="col-md-12 form-group">
          <div class="col-md-4">
            <md-input-container class="input">
              <input mdInput type="text" placeholder="First Name" formControlName="firstName" [(ngModel)]="client.firstName" ngControl='firstName'>
              <md-error *ngIf="clientForm.controls.firstName.required">
                Required
              </md-error>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input">
              <input mdInput type="text" placeholder="Last Name" formControlName="lastName" [(ngModel)]="client.lastName" ngControl='lastName'>
              <md-error *ngIf="clientForm.controls.lastName.required">
                Required
              </md-error>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <div class="" formGroupName="role">
              <md-select style="margin-top: 25px; padding-left: 10px" name="" id="" formControlName="name" placeholder="Role">
                <md-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</md-option>
              </md-select>
            </div>
          </div>
        </div>
      </div>
      <!--Address  -->
      <div class="container col-lg-12 padding-bottom">
        <div class="form-group" formGroupName="address">
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="Street" formControlName="street" [(ngModel)]="client.address.street" ngControl='street'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="City" formControlName="city" [(ngModel)]="client.address.city" ngControl='city'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="Country" formControlName="country" [(ngModel)]="client.address.country" ngControl='country'>
            </md-input-container>
          </div>
        </div>
      </div>
      <!--Email,Jmbg,Pass  -->
      <div class="container col-lg-12">
        <div class="form-group">
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="E-mail" formControlName="email" [(ngModel)]="client.email" ngControl='email'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="text" placeholder="JMBG" formControlName="jmbg" [(ngModel)]="client.jmbg" ngControl='jmbg'>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="input-address">
              <input mdInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="client.password" ngControl='password'>
            </md-input-container>
          </div>
        </div>
      </div>
      </div>

    <div class="container-fluid col-lg-4">


      <ul class="accountList">
        <li *ngFor="let account of accounts" class="accountList" (click)="onSelect(account)" [class.selected]="account === selectedAccount">
          <h5>{{account.bank.bankName}}</h5>
          <h5>{{account.accountNumber}}</h5>
        </li>
      </ul>
    </div>

    <div class="row " *ngIf="selectedAccount">
      <div class="container col-lg-6">
        <h5>Bank: {{account.bank.bankName}}</h5>
        <h5>Number: {{selectedAccount.accountNumber}}</h5>
        <h3>Balance: {{selectedAccount.accountBalance}}</h3>
      </div>


    </div>
    <div class="container col-lg-12">
      <div class="col-md-12">
        <label for=""></label>
        <button md-raised-button color="accent" type="submit" [disabled]="!clientForm.valid" md-dialog-close class="btn btn-block"
          value="Submit">Submit</button>
      </div>
    </div>
  </div>
  </div>
</form>
